.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #121111d9;
  padding: 20px;
// margin: 0;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .navbar {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #190b0b;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: #213c62;
          }
        }
      }
      .results {
        display: grid;
        column-gap: 14px;
        row-gap: 14px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
        margin-top: 50px;
        justify-content: space-around;
      }

      input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 5px;
      }

      .primary-search {
        background-color:#2eae56c3;
        color: #0a0a0a;
        cursor: pointer;
        border: 1px solid #fff;
        padding: 8px 16px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #277a41c3;
          border-color: #0c7d3b;
      }
      }

      .sign {
          background-color: #2196F3;
          color: #f7f3f3;
          cursor: pointer;
          border: 1px solid #fff;
          padding: 8px 16px;
          border-radius: 4px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #1c8ae3;
            border-color: #798af4;
        }
      }
    }
  }
}



