<div class="video-container">

<video class="VideoPlay" autoplay="" loop="" playsinline="" muted class="w-full h-full object-cover">

 <source src="https://lonelyplanetstatic.imgix.net/marketing/best-in-travel/2024/video/campaign.mp4" type="video/mp4">
</video>

<div class="text-overlay">
  <h1>Travel like you mean it</h1>
  <p>Trips you couldn't plan even if you wanted to</p>
</div>
<div class = "search-form">
<div class="search-container">
  <input type="text" class="search-input" placeholder="Where do you want to go">
  <button type="submit"  class="search-button w-button">
    <i class="fas fa-search"></i>
  </button>
</div>
</div>


